@inherits LayoutComponentBase

<div class="page text-white h-100 bg-black" data-bs-theme="dark">
    <main>
        <div class="content h-100 px-4">
            @Body
        </div>
    </main>
</div>